#credit
  | バージョン番号を再クリックで閉じる
  hr
  h1 音設定
  button#mute_se SEを消す（今プレイ中のみ）
  br
  button#mute_bgm BGMを消す（今プレイ中のみ）
  br
  //-<button id="not_carmen">大漁で音楽が切り替わらないようにする（今プレイ中のみ）</button><br>
  button#play_ko コロブチカを流す
  br
  button#play_ca カルメン組曲を流す
  br
  button#play_hi 交響曲を流す
  hr
  h1 設定
  button#del(style='font-size:100%;') データ消去（消えます）
  hr
  h1 ステータス
  #status
  hr
  h1 解除済実績一覧
  #achievement_list
  hr
  h1 クレジット
  b 原案
  | ：
  a(href='https://mastodon.cloud/@SugaryAlice', target='_blank') ありす
  br
  b プログラム
  | ：
  a(href='https://mastodon.cloud/@cs3', target='_blank') せせせ
  br
  b 画像
  | ：
  a(href='http://www.irasutoya.com/', target='_blank') いらすとや
  | , umezy12
  br
  b 楽曲
  | ：
  a(href='https://mastodon.cloud/@hc85f', target='_blank') HC
  | , 
  a(href='http://classical-sound.seesaa.net/', target='_blank') クラシック名曲サウンドライブラリー
  br
  b 効果音
  | ：
  a(href='https://soundeffect-lab.info/', target='_blank') 効果音ラボ
  br
  b 出演
  | ：
  a(href='https://mastodon.cloud/@thethreegraces1', target='_blank') しまくま
  | , 
  a(href='https://mastodon.cloud/@njp2', target='_blank') FUBAR
  | , 
  a(href='https://mastodon.cloud/@awa', target='_blank') あじゃ
  br
  b スペシャルサンクス
  | ：
  a(href='https://mastodon.cloud', target='_blank') mastodon.cloud
  br
  | (敬称略) 
  hr
  h1 更新履歴
  | ●○ でかい更新
  br
  | ○● 細かい修正・バグ修正
  br
  | ○● ver.1.1.1β コード修正 (2018.01.31)
  br
  | ●○ ver.1.1β 実績削除 (2017.09.03)
  br
  | ●○ ver.1β ステータス表示を実装,新実績を実装,その他細かい修正 (2017.09.02)
  br
  | ●○ ver.0.11.0β 解除済実績の一覧表示を実装,新実績を実装,その他細かい修正 (2017.09.01～)
  br
  | ●○ ver.0.10.0β プレイ時間の測定を実装,新実績を実装,その他細かい修正
  br
  | ●○ ver.0.9.0β 新実績を実装 (～2017.09.01)
  br
  | ○● ver.0.8.1β 大漁が出ないバグを修正 (2017.08.30～)
  br
  | ●○ ver.0.8.0β 音設定を実装
  br
  | ○● ver.0.7.1β うさプリ救済措置の出現確率を調整
  br
  | ●○ ver.0.7.0β うさプリBGM差し替え,救済措置を実装 (～2017.08.30)
  br
  | ●○ ver.0.6.0β 設定を実装 (2017.08.25)
  br
  | ●○ ver.0.5.0β バージョン番号とクレジット表示を実装 (2017.08.24～)
  br
  | ●○ ver.0.4.0β うさプリを実装,うさプリ関連の実績を実装
  br
  | ●○ ver.0.3.0β 鳥関連の実績を実装
  br
  | ●○ ver.0.2.0β Twitterで共有ボタンを実装 (～2017.08.24)
  br
  | ●○ ~ver.0.1.0β バージョン記録開始 (～2017.08.21)
audio#sound1(preload='auto')
  source(src='sound/carmen.mp3', type='audio/mp3')
audio#sound2(preload='auto')
  source(src='sound/usa.mp3', type='audio/mp3')
audio#sound3(preload='auto')
  source(src='sound/jupiter.mp3', type='audio/mp3')
audio#sound4(preload='auto')
  source(src='sound/alert.mp3', type='audio/mp3')
audio#sound5(preload='auto')
  source(src='sound/Коробейники.mp3', type='audio/mp3')
audio#sound6(preload='auto')
  source(src='sound/trumpet.mp3', type='audio/mp3')
audio#sound7(preload='auto')
  source(src='sound/dame.mp3', type='audio/mp3')
audio#sound8(preload='auto')
  source(src='sound/usapri.mp3', type='audio/mp3')
script(src='loading.js')
script(src='usapyon_achievement.js')
script(src='usapyon_ui.js')
script(src='usapyon_data.js')